<%= provide(:faq_active, "active") %>


<h1 class="mt-4">Pricing</h1>

<main class="mb-4">
  <p>
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
  Quia perspiciatis sint sequi. Modi, deserunt quaerat! Eveniet exercitationem minus 
  veniam nobis sed quam expedita, nihil numquam voluptate, nam officia excepturi veritatis.
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
  Quia perspiciatis sint sequi. Modi, deserunt quaerat! Eveniet exercitationem minus 
  veniam nobis sed quam expedita, nihil numquam voluptate, nam officia excepturi veritatis.
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
  Quia perspiciatis sint sequi. Modi, deserunt quaerat! Eveniet exercitationem minus 
  veniam nobis sed quam expedita, nihil numquam voluptate, nam officia excepturi veritatis.
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
  Quia perspiciatis sint sequi. Modi, deserunt quaerat! Eveniet exercitationem minus 
  veniam nobis sed quam expedita, nihil numquam voluptate, nam officia excepturi veritatis.
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
  Quia perspiciatis sint sequi. Modi, deserunt quaerat! Eveniet exercitationem minus 
  veniam nobis sed quam expedita, nihil numquam voluptate, nam officia excepturi veritatis.
  </p>

  <h1>FAQs</h1>

  <p class="font-weight-bold">Veggies es bonus vobis, proinde vos postulo essum magis kohlrabi welsh onion?</p>
  <p>Pommy ipsum Amelia Pond curry sauce cor blimey' chinwag knee high to a grasshopper i'll be a monkey's 
  uncle yorkshire mixture Dalek got a lot of brass, know your onions Sherlock Prince Charles bloody mary for 
  sooth munta teacakes cheerio.</p>

  <p class="font-weight-bold">Gumbo beet greens corn soko endive gumbo gourd?</p>
  <p>Chav tosser grub's up one would be honoured to Moriarty bog roll gutted knackered, rivetting stuff in the
  goolies pezzy little the dog's dinner mush sling one's hook down the village green scones, her Majesty's
  pleasure tallywhacker a right royal knees up I'm off to Bedfordshire Shakespeare brilliant.</p>

  <p class="font-weight-bold">Turnip greens yarrow ricebean rutabaga endive cauliflower sea lettuce kohlrabi amaranth water spinach
  avocado daikon napa cabbage asparagus winter purslane kale?</p>
  <p>Baffled wedding tackle balderdash a week on Sunday codswallop anorak pulled a right corker doing my nut in
  chaps a tenner the lakes, Kate and Will Geordie blimey golly wind up picalilly knee high to a grasshopper I'll
  be a monkey's uncle Doctor Who. Up the duff had a barney with the inlaws splendid pillock in the goolies utter
  shambles, I bid you good day leisurely codswallop trouble and strife, sling one's hook curry sauce narky I'd
  reet fancy a. Marmite unhand me sir in the jacksy make a brew oo ecky thump easy peasy clock round the earhole
  oo ecky thump, bloke it's nicked chinwag easy peasy posh nosh whizz. </p>

  <p class="font-weight-bold">Corn amaranth salsify bunya nuts nori azuki bean chickweed potato bell pepper artichoke?</p>
  <p>Absobloodylootely off t'shop it's the dogs bollocks lost her marbles bull dog clotted cream therewith, plum
  pudding air one's dirty linen grub's up The Doctor for sooth, wibbly-wobbly timey-wimey stuff gutted cor blimey'
  gravy cheese and chips old chap.</p>

  <p class="font-weight-bold">Celery quandong swiss chard chicory earthnut pea potato?</p>
  <p>What a mug tad see a man about a dog fish and chips supper ridiculous nowt brainbox, bag egg's old boy Amelia
  Pond conked him one on the nose a fiver bit of a Jack the lad.</p>

</main>