#home {
  .jumbotron {
    margin-top: 20px;
  }
  .card-columns {
  flex-direction: column;
  }
  .card {
    border: none;
  }
}

@media screen and (min-width: 768px) {
  #home {
    .card-columns {
      flex-direction: row;
    }
  }
}
